input {
  max-width: 25rem;
}

fieldset.collapsable legend {
  display: flex;
  align-items: center;
}

fieldset.collapsable legend::after {
  padding: 0 5px;
  content: "▼";
  font-size: 0.6em;
}

fieldset.collapsable.active legend::after {
  padding: 0 5px;
  content: "▲";
  font-size: 0.6em;
}

fieldset.collapsable:not(.active) .fieldset-contents {
  display: none;
}
